<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Scrapper</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>"{{keyword}}" 검색 결과 :</h1>
        <a target="_blank" href="/export?keyword={{keyword}}"> 파일 다운로드</a>
      </hgroup>
      <table role="grid">
        <thead>
          <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td>{{job.title}}</td>
            <td>{{job.company}}</td>
            <td>{{job.location}}</td>
            <td><a href="{{job.link}}" target="_blank">Apply now &rarr;</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
